html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.content {
    padding: 20px 20px 0px 20px;
}

.header {
    display: flex;
    padding-bottom: 20px;
}

.logo {
    flex: 0 0 65%;
}

.title {
    font-size: 60px;
    font-weight: bold;
}

.sub-title {
    font-size: 30px;
}

.links {
    flex: 1;
}

.link-button {
    float: right;
    background: #38A1F3;
    border-radius: 5px;
    padding: 7px;
    margin: 5px;
}

.link-button > a {
    color: white;
    font-size: 30px;
}

.body {
    align-content: center;
    text-align: center;
}